{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css ' %}">

<table class="table" id="hol">
  <thead>
    <tr>
      <tr>
      <th scope="col">No.</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">costo</th>
      <th scope="col">Disponible</th>
      <th scope="col">Existencias</th>
      <th scope="col">categoria</th>
    </tr>
    </tr>
    </tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      
    </tr>
    
  </tbody>
</table>