
{% load staticfiles %}
<body class="lo">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css ' %}">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Tienda</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="">Productos<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">categorias</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'productos:agregarProducto'%}">Agregar Nuevo Producto</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'productos:agregarCategoria'  %}">AgregarCategorias</a>
				</li>
				
				
			</ul>
		</div>
	</nav>
	{% block content %}


	<div class="conteiner py-2">	
		<div class="row">

			<div class="col-md">

				<table class="table table-primary table-striped table-bordered" id="hol">
					<thead class="thead-light">
						<tr>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Nombre</th>
								<th scope="col">Descripcion</th>
								<th scope="col">costo</th>

								<th scope="col">Existencias</th>
								<th scope="" colspan="2">Acciones</th>

							</tr>
						</tr>
					</thead>
					<tbody>
						{% for producto in productos %}
						<tr>
							<th scope="row">{{producto.id}}</th>
							<th scope="row">{{producto.nombre}}</th>
							<th scope="row">{{producto.descripcion}}</th> 
							<th scope="row">${{producto.costo}}</th>

							<th scope="row">{{producto.numeroExistencias}}</th>  
							<th><a href="{% url 'productos:editarProducto' producto.id %}">editar</a></th> <th><a href="{% url 'productos:eliminarProducto' producto.id %}">eliminar</a></th>

						</tr>

						{% empty %}
						<tr>
							<th scope="row">no hay productos</th>

						</tr>
						{% endfor %}
					</tbody>
				</table>

				<ul class="list-group">
					<li class="list-group-item active">Categorias</li>
				{% for categoria in categorias %}
					<li class="list-group-item">{{categoria.categoria}}</li>
					{% empty %}
					<li class="list-group-item">No hay categorias</li>
					{% endfor %}
				</ul>

	
			</div>
		</div>


	</div>
</body> 
{%endblock%}
